/* Section container */

.audio-player-section {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255,0.875);
    z-index: 1;
}

/* Left side container */

.left-side-audio-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.audio-player-episode-image {
    width: 45px;
    border-radius: 0.5rem;
}

.audio-player-details-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.audio-player-episode-title {
    font-size: 0.875rem;
    font-weight: bold;
}

.audio-player-podcast-title {
    font-size: 0.75rem;
    font-weight: bold;
    opacity: 0.75;
}

/* Center container */

.play-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.pause-and-play-btn,
.fast-forward-and-fast-rewind-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pause-and-play-btn img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 0.80;
    transition: all 600ms ease;
    background-color: var(--very-light-gray-color);
}

.fast-forward-and-fast-rewind-btn img {
    width: 37.5px;
    height: 37.5px;
    opacity: 0.8;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 600ms ease;
}

.pause-and-play-btn img:hover,
.pause-and-play-btn img:focus {
    transform: scale(1.025);
    opacity: 0.75;
    background-color: transparent;
}

.fast-forward-and-fast-rewind-btn img:hover,
.fast-forward-and-fast-rewind-btn img:focus{
    opacity: 0.75;
    background-color: var(--light-gray-color);
}

.pause-and-play-btn img:active,
.fast-forward-and-fast-rewind-btn img:active {
    opacity: 0.25;
}

/* Right side container */

.right-side-audio-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.time-stamp {
    font-size: 0.75rem;
    font-weight: bold;
    opacity: 0.75;  
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Media queries */

@media (max-width: 768px) {
    .audio-player-section {
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .left-side-audio-section,
    .right-side-audio-section {
        justify-content: center;
    }
}