/* ===============
    Whole page 
=============== */

.podcast-details {
    background-color: rgba(128, 128, 128, 0.05);
    padding: var(--large-padding);
    min-height: 90vh;
}

/* ===============
    Top Section
=============== */

.heading-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.heading-icon {
    width: 35px;
    opacity: 0.5;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    transition: all 300ms ease;
}

.heading-icon:hover,
.heading-icon:focus {
    opacity: 1;
    background-color: rgba(128, 128, 128, 0.15);
}

.heading-icon:active {
    color: white;
    opacity: 0.25;
}

.podcast-heading-title {
    font-size: 1.5rem;
    color: white;
    background-color: var(--very-dark-gray-color);
    padding: 0.5rem 1rem;
    border-radius: var(--normal-border-radius);
    box-shadow: 0 2px 8px var(--light-gray-color);
}

/* ===============
    Main Section
=============== */

.main-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    gap: 2rem;
}

/* Main - Left Side */

.podcast-details-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.podcast-preview-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px var(--dark-gray-color);
}

/* Main - Right Side */

.podcast-details-right {
    padding: 2rem 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--normal-gap);
}

.container-heading {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.podcast-description,
.podcast-genre-item,
.podcast-last-updated {
    font-size: 0.875rem;
}

.podcast-description {
    opacity: 0.85;
}

.podcast-genre-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 1rem;
}

.podcast-genre-item {
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(rgba(128, 128, 128, 0.025), var(--light-gray-color));
    padding: 0.375rem 0.75rem;
    border-radius: var(--normal-border-radius);
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.125);
}

.calender-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.calender-icon {
    width: 20px;
}

/* ===============
    Media queries
=============== */

@media (max-width: 480px) {
    .podcast-preview-image {
        max-width: 300px;
    }
    .heading-section {
        gap: 0.5rem;
    }
}

@media (max-width: 768px) {
    .main-section {
        grid-template-columns: 1fr;
    }
    .podcast-preview-image {
        max-width: 350px;
    }
    .heading-section {
        gap: 0.75rem;
    }
}