:root {
    /* Colors */
    --white-color: rgba(255, 255, 255, 1);
    --very-light-gray-color: rgba(128, 128, 128, 0.1);
    --light-gray-color: rgba(128, 128, 128, 0.2);
    --medium-gray-color: rgba(128, 128, 128, 0.4);
    --dark-gray-color: rgba(128, 128, 128, 0.8);
    --very-dark-gray-color: rgba(0, 0, 0, 0.8);

    --light-blue-color: rgba(35, 70, 105, 0.125);
    --medium-blue-color: rgba(35, 70, 105,0.5);
    --dark-blue-color: rgba(35, 70, 205,0.75);

    --audio-player-color: rgba(255, 255, 255,0.875);

    /* Paddings */
    --small-padding: 0.5rem;
    --normal-padding: 1rem;
    --large-padding: 2rem;

    /* Gaps */
    --small-gap: 0.5rem;
    --normal-gap: 1rem;
    --big-gap: 2rem;

    /* Border Radius */
    --small-border-radius: 0.25rem;
    --normal-border-radius: 0.5rem;
}

:root[data-theme="dark"] {

  --white-color: rgb(15, 0, 0);
  --very-light-gray-color: rgba(10, 0, 10, 0.95);
  --light-gray-color: rgba(40, 0, 40, 0.75);
  --medium-gray-color: rgba(80, 0, 80, 0.2);
  --dark-gray-color: rgba(128, 128, 128, 0.1);
  --very-dark-gray-color: rgba(255, 255, 255, 0.9);

  --light-blue-color: rgba(120, 160, 255, 0.15);
  --medium-blue-color: rgba(120, 160, 255, 0.4);
  --dark-blue-color: rgba(120, 160, 255, 0.8);

  --audio-player-color: rgba(0, 0, 0, 0.875);
}

/* Smooth transitions */
*, *::before, *::after {
    transition: background-color 300ms ease, color 300ms ease, border-color 300ms ease;
}

/* Global resets */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter',sans-serif;
    color: var(--very-dark-gray-color);
}

.link {
    text-decoration: none;
}

body {
    padding-bottom: 4rem;
}

html, body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 10rem;
    }   
}